<div class="container">
    <div class="tinder-container">
        <img src="../../../assets/images/Logo-Tinder.svg" class="tinderlogo">
        <img src="../../../assets/images/Alexandra.jpeg">
        <div class="alexandrainfo">
            <h1>Alexandra, 30</h1>
            <h5>Utbildningsledare på Medieinstitutet</h5>
            <h6>Medieinstitutet</h6>
        </div>

        <div class="alexandralikes">
        <p>Jag älskar sol och bad!
        Jag är snäll och organiserad. Söker dig som tycker om hundar, så vi kan mysa tillsammans! Skickar du en kul giff så har du en dejt!</p>
        </div>
    </div>
</div>
